In [4]:
## one lines to crete the list :

table2=[2*i for i in range(6)]

In [5]:
table2

[0, 2, 4, 6, 8, 10]

In [7]:
## list of filtyerd even numbers 
evens=[i for i in range(30) if i%2==0]
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [8]:
## i words 
words=['kalu','mithu','bholu']

cased= [word.upper() for word in words]
cased

['KALU', 'MITHU', 'BHOLU']

In [11]:
# nested loops in list comprehensiosn 
ls_pairs=[(x,y) for x in range(2) for y in range(2)]
ls_pairs

[(0, 0), (0, 1), (1, 0), (1, 1)]

In [12]:
## flattening a 2-d list 
matrix=[[1,2,3],[3,4],[3]]
flattened=[num for ls in matrix for num in ls]
flattened

[1, 2, 3, 3, 4, 3]

In [14]:
## set comprehensions
set={x for x in [1,32,4,54]}
set

{1, 4, 32, 54}

In [17]:
## dictionary comprehensions
dict={x: x**2 for x in [2,3,4,5,7]}
dict

{2: 4, 3: 9, 4: 16, 5: 25, 7: 49}